/* General */

body {
	font-family: 'Zen Maru Gothic', sans-serif;
	color: #27744a;
	background: #52fa9d;
	position: relative;
	background: transparent;
	margin-bottom: 0;
}
body::before {
	content: "";
	position: fixed;
	background: #52fa9d;
	background-size: cover;
	left: 0;
	right: 0;
	top: 0;
	height: 100vh;
	z-index: -1;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background: oldlace;
}

::-webkit-scrollbar-thumb {
	background: #52fa9d;
}

::-webkit-scrollbar-thumb:hover {
	background: palegreen;
}
section {
	padding: 15px 0 0;
}

.back-to-top-css {
	cursor: pointer;
	background: palegreen;
	position: fixed;
	bottom: 15px;
	left: 15px;
	display: none;
	z-index: 9999;
}

/* Navbar */
nav a {
	color: #15462b;
}

nav a:hover {
	color: black;
	font-weight: 600;
}
nav .navbar {
	margin: 0;
	padding: 0 30pt 0;
}

nav .navbar-nav .language {
	position: relative;
}
nav .navbar-nav .language img {
	top: 20pt;
	height: 18pt;
}

#navbar.scrolled {
	background: rgba(133, 134, 126, 0.7);
	transition: background 500ms;
}

nav #playnowbutton {
	visibility: hidden;
	background-color: honeydew;
	border-radius: 15px;
}

/* Playnow*/

#playnow {
	transition: ease-in-out 0.3s;
	position: relative;
	display: block;
	align-items: center;
	z-index: 999;
	overflow-y: auto;
	text-align: center;
	margin-top: 16%;
	margin-bottom: 10%;
	color: white;
}

#playnow h1 {
	font-size: 65px;
	font-family: 'Poppins' sans-serif;
}

#playnow p {
	font-size: 30px;
	margin-bottom: 10%;
}
#playnow a {
	text-decoration: none;
}

#playbutton :hover {
	background-color: rgb(189, 56, 8, 0.6);
	border-radius: 20px;
}

#playbutton {
	background: rgba(255, 68, 0, 0.6);
	width: 45%;
	border-radius: 20px;
	margin: auto;
	transition: ease-in-out 0.1s;
}

#playbutton h2 {
	font-size: 45px;
}

@media (max-width: 768px) {
	#playbutton h2 {
		font-size: 30px;
	}
}

/* ABOUT */
.about main {
	margin: 0 50px;
	background-color: rgba(240, 248, 255, 0.425);
	border-radius: 12px;
}

.about main h1 {
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

.about main p {
	line-height: 2rem;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-weight: 500;
	font-size: 20px;
}

/* Carousel base class */
.carousel {
	margin-bottom: 4rem;
	border: 5px double #15462b;
	border-radius: 5px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
	height: 32rem;
}
.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: auto;
}

/* Description */

#description {
	margin-bottom: 4rem;
	position: relative;
	align-items: center;
	height: 50vh;
	display: flex;
	z-index: 999;
	overflow-y: auto;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.3);
}

#description h2 {
	font-size: 45px;
	text-align: center;
}

#description :hover {
	color: black;
}

/* PLAYNOW */

/* FOOTER */
footer {
	background-color: grey;
}

footer h3 {
	font-size: 45px;
	font-family: 'Poppins', sans-serif;
}

footer ul {
	list-style: none;
	margin: auto;
	text-align: center;
}
footer li {
	margin: 40px 20px;
}

footer .credit img {
	width: 100px;
	transition: 0.3s;
	border: solid 1px black;
	border-radius: 40%;
	background: blanchedalmond;
}

footer .sharing {
	margin: 0;
	padding: 25px 0;
	width: auto;
	background: rgb(99, 134, 114);
	text-align: center;
}

footer p {
	color: darkgrey;
}

footer a .ideaboard {
	text-decoration: none !important;
}
